<html>
    <head>

    </head>
    
    <body>
        <form action="http://localhost:5000/data">
            <input type="text" name="input1" placeholder="Folder to search"/>
            <br>
            <input type="text" name="input2" placeholder="Folder to copy into"/>
            <br>
            <input type="text" name="input3" placeholder="Filter string"/>
            <br>
            <input type="submit" />
        </form>
        <!-- <ul>
            {% for x in some_info %}
                <li>{{ x }}</li>
            {% endfor %}
        </ul> -->
    </body>
</html>
